<div id="menu" ng-controller="MenuController">
    <h2>Menu</h2>
    <div ng-hide="checked">
        <label> Year :</label>
        <select ng-model="selectedYear" ng-init="selectedYear = {title: 2014}" ng-options="year as year.title for year in years"></select>
        <br/>
        <label> Month :</label>
        <select ng-model="selectedMonth" ng-init="selectedMonth = {title: 'November', index: 10}" ng-options="month as month.title for month in months"></select>
        <br/>
    </div>
    <div ng-show="checked">
        <label> Begin :</label>
        <select ng-model="selectedBegin" ng-init="selectedBegin = {title:'00:00',index: 0}" ng-options="hour as hour.title for hour in beginHours"></select>
        <br/>
        <label> End :</label>
        <select ng-model="selectedEnd" ng-init="selectedEnd = {title:'24:00',index: 24}" ng-options="hour as hour.title for hour in endHours"></select>
        <input ng-model="description" type="text" placeholder="Your task description"/>
        <br/>
        <button type="button" ng-controller="EventController" class="btn btn-success" ng-click="saveEvent()"> Save </button>
    </div>

    <input type="text" value="{{selectedYear}}"/>
    <input type="text" value="{{selectedMonth}}"/>
    <input type="text" value="{{selectedDay}}"/>
    <input type="text" value="{{selectedBegin}}"/>
    <input type="text" value="{{selectedEnd}}"/>

</div>
<div id="mainTable">
    <h1>{{selectedMonth.title}} {{selectedYear.title}}</h1>
    <div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th ng-repeat="day in days" class="info">{{day}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in calendarDays">
            <td ng-repeat="col in row" ng-class="setClass($index)" ng-click="setSelectedDay(col)">
                <a href="#day">
                    {{col}}
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
    <input type="text" ng-model="selectedDay" value="selectedDay">
</div>